.main {
    font-family: 'Sura', serif;
}

.header {
    text-align: center;
    
}

.section {
    display: table; // Let container element behave like a table
}

.section_pokemon {
    display: table;
    width: 100% // Expand section to the whole page
}

.column {
    display: table-cell; // Let container elements behave like table cells
    //border: 1px solid;
    padding: 1px;
}

.profile_footer {
    text-align: center;
}

a {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

ul {
    list-style: none;
}
