.main {
    font-family: 'Sura', serif;
    color: #474F5B;
    //background: #DAE6EF;
    background: #FEFEFF;
}

.header {
    text-align: center;
    
}

.section {
    display: table; // Let container element behave like a table
}

.section_pokemon {
    display: table;
    width: 100% // Expand section to the whole page
}

.column {
    display: table-cell; // Let container elements behave like table cells
    //border: 1px solid;
    padding: 1px;
}

.footer_profile {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    //font-style: italic;
}

a {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

ul {
    list-style: none;
}
